
.big_card{
  z-index: 10;
  position: fixed;
  width: 1000px;
  height: 700px;
  padding: 20px;
  border: 3px solid #575757;
  border-radius: 10px ;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -300px;  /* Negative half of height. */
  margin-left: -800px; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: scroll;
  font-size: 1.5rem;
}

.btn{
  background-color: green;
  color: white;
  width: 7vw;
  font-size: 0.8vw;
  height: 1vw;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: white;
  color: green;
}

.del_btn{
  width: 7vw;
  height: 1vw;
  font-size: 0.8vw;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: red;
}
    
.del_btn:hover {
  background-color: red;
  color: white;
}

  .bigCardBtns{
    display: flex;
    justify-content: right;
    position: absolute;
    right:0px; 
    bottom:0px;
    gap:10px;
    margin: 20px;
    margin-top: 50px;   
  }
  
  .bigCardBtns button{
    width: 7vw;
    font-size: 0.8vw;
    height: 2.4rem;
    cursor: pointer;
    }


  

  .notes{
    text-align: left;
  
  }
  
  .note{
    border-bottom: 0.5px solid #575757;
  }


@media screen and (max-width: 800px){
    
.bigCard{
  z-index: 10;
  display:block;
  position: fixed;
  width: 70vw;
  height: 80vw;
  padding: 20px;
  border: 3px solid #575757;
  border-radius: 10px ;
  background-color: white;
  top: 50%;
  left: 20%;
  margin-top: -35vw;  /* Negative half of height. */
  margin-left: -10vw; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: scroll;
  font-size: 4vw;
}

.bigCardBtns button{
  font-size: 3vw;
  width: 20vw;
  height: 2.4rem;
  cursor: pointer;
  }
  }