.add_job{
    width:20vw;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: left;
    font-size: 0.9vw;
    background-color: rgb(248, 248, 248);
    padding:25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
  
  .label{
    font-size: 1.1vw;
  }
  
  .input_text_area{
    font-size: 0.9vw;
    height: 7rem;
    width:95%;
    margin-top:10px;
    border-radius: 5px;
    
  }
  
  .btn_div{
    display: flex;
    justify-content: flex-end;
  }
  

  @media screen and (max-width: 800px){
    .add_job{
       width:80%;
        height: 105vh;
        margin: 0 auto;
        font-size: 5vw;
    }
    .label{
      font-size: 4vw;
    }

    .input_text_area{
      font-size: 4vw;
      height: 5rem;
      width:95%;
      margin-top:10px;
      border-radius: 5px;
      
    }
   
    .checkbox_label{
      display: flex;
      flex-direction: column;
      width: 80px;
      margin-top: 15px;
      align-items: center;
      background-color: white;
      padding:5px;
      
      border-radius: 5px;
    }
    
}