.App {
  text-align: center;
 background-color: black;
}
.title{
  color:white
}

.main{
  display: flex;
  justify-content: space-evenly;
  height:80vh;
}

.add-job{
  width:30vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  text-align: left;
  font-size: 1.5rem;
  background-color: rgb(226, 237, 247);
  padding:15px;
}
.input{
  height: 2rem;
  width:95%;
  margin-top:10px;
  border-radius: 5px;
}
.btn
 {
  
  width: 200px;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: green;
  color: white;
}


.jobs-list{
  width:50vw;
  height:80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(226, 237, 247);
  padding:15px;
   gap: 20px;
  overflow-y: scroll;
}

.job{
  width: 100%;
  min-height: 250px;
  background-color: white;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: 10px;
}

.job-btns{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
 
}

.job-btns button{
  width: 150px;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: green;
  color: white;
}
.big-card{
  position: fixed;
  width: 800px;
  height: 400px;
  padding: 10px;
  border: 3px solid #575757;
  border-radius: 10px ;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -200px;  /* Negative half of height. */
  margin-left: -400px; 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}