@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Mukta:wght@300&display=swap');

.App {
  text-align: center;
 background-color: white;
 font-family: 'Inter', sans-serif;
 
}

.header{
  height: 12vh;
  background-color: rgb(45, 45, 45);
  border-bottom:  10px double white ;

}

.header-image{
 height: 150px;
}

.main{
  display: flex;
  justify-content: space-evenly;
  height:80vh;
  background-color: rgb(80, 80, 80);
  padding-top: 20px;
}

.add-job{
  width:20vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: left;
  font-size: 1.5rem;
  background-color: rgb(248, 248, 248);
    padding:25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
}

.input{
  font-size: 1.2rem;
  height: 2rem;
  width:95%;
  margin-top:10px;
  border: none;
  border-bottom: 0.5px solid black;


}

.input-text-area{
  font-size: 1.2rem;
  height: 7rem;
  width:95%;
  margin-top:10px;
  border-radius: 5px;
  
}

.btn-div{
  display: flex;
  justify-content: flex-end;
}

.btn
 {
  width: 200px;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: green;
  color: white;
}

.checkboxes{
  display: flex;
  justify-content: space-evenly;
}

.jobs-list{
  width:65vw;
  height:80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(248, 248, 248);
  padding:25px;
  gap: 10px;
  overflow-y: scroll;
  border-radius: 8px;
  box-shadow: inset 0 0 5px grey;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0,128,0);
  border-radius: 8px;
}


.job{
  width: 95%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom: 0.7px solid rgb(48, 48, 48);
  margin: 10px;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}

.job-header{
  display: flex;
  justify-content: space-evenly;
}

.job-title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  position: absolute;
  left:20px; 
  bottom:20px;
  display: flex;
  flex-direction: row;
  gap:25px;
}

.comments-icon{
  display: flex;
  }

.comments-icon p{
  font-size: 15px;
  margin: 0;
}

.progress{
  display: flex;
  justify-content: space-evenly;
  background-color: #e7e7e7;
  margin: 10px;
  border-radius: 3px;
  border-bottom: 0.5px solid #575757;
 } 

.job-btns{
  display: flex;
  justify-content: right;
  gap:10px;
  margin: 20px;
  margin-top:40px

 
}

.job-btns button{
  width: 100px;
  height: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: green;
  color: white;
}

.big-card{
  z-index: 10;
  position: fixed;
  width: 1000px;
  height: 700px;
  padding: 20px;
  border: 3px solid #575757;
  border-radius: 10px ;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -300px;  /* Negative half of height. */
  margin-left: -800px; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: scroll;
  font-size: 1.5rem;
}

.big-card-btns{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.notes{
  text-align: left;

}

.note{
  border-bottom: 0.5px solid #575757;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}