.App {
  text-align: center;
 background-color: black;
}
.title{
  color:white;
  height: 10vh;
  font-size: 3rem;
}

.main{
  display: flex;
  justify-content: space-evenly;
  height:80vh;
}

.add-job{
  width:30vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: left;
  font-size: 1.5rem;
  background-color: rgb(226, 237, 247);
  padding:15px;
}

.input{
  font-size: 1.2rem;
  height: 2rem;
  width:95%;
  margin-top:10px;
  border-radius: 5px;
}

.input-text-area{
  font-size: 1rem;
  height: 4rem;
  width:95%;
  margin-top:10px;
  border-radius: 5px;
}

.btn-div{
  display: flex;
  justify-content: flex-end;
}

.btn
 {
  width: 200px;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: green;
  color: white;
}

.checkboxes{
  display: flex;
  justify-content: space-evenly;
}

.jobs-list{
  width:50vw;
  height:80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(226, 237, 247);
  padding:15px;
   gap: 20px;
  overflow-y: scroll;
}

.job{
  width: 100%;
  min-height: 300px;
  background-color: white;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: 10px;
   font-size: 1.2rem;
}
.job-header{
  display: flex;
  justify-content: space-evenly;
}


 .progress{
  display: flex;
  justify-content: space-evenly;
  background-color: #e7e7e7;
  margin: 10px;
  border-radius: 3px;
  border-bottom: solid #575757;
 } 

.job-btns{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
 
}

.job-btns button{
  width: 150px;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: green;
  color: white;
}

.big-card{
  position: fixed;
  width: 800px;
  height: 500px;
  padding: 10px;
  border: 3px solid #575757;
  border-radius: 10px ;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -200px;  /* Negative half of height. */
  margin-left: -400px; 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.big-card-btns{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}