.carousel{
    display: none;
}

@media screen and (max-width: 600px){
    .carousel{
        display: block;
        width:90%;
        height: 60vh;
        margin: 0 auto;
        background-color: blue;
    }
    
}