.carousel_container{
    display: none;
}

@media screen and (max-width: 800px){
    .carousel_container{
        display: block;
        width:93%;
        height: 60vh;
        margin: 0 auto;
        background-color: rgb(80, 80, 80);
        border-radius: 8px;
    }
    .carousel{
        height: 100%;
    }

    .job_card{
        margin-top: 50px;
        height:65vh;
        
    }
}