.carousel_container{
    display: none;
}

@media screen and (max-width: 600px){
    .carousel_container{
        display: block;
        width:93%;
        height: 50vh;
        margin: 0 auto;
        background-color: white;
        border-radius: 8px;
    }
    .carousel{
        height: 100%;
    }

    .job_card{
        margin-top: 50px;
        height:50vh;
        
    }
}